*{
    background-color: #091838;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
}

.text-area{
    border: none;
    margin-top: 90px;
    text-transform: lowercase;
    height: 300px;
    width: 500px;
    margin-left: 8rem;
}

::placeholder{
    color: white;
    .text-area:focus{
        outline: none;
    }
}

.mensagem{
    background-color: white;
    background-image: url(img/logo-woman.png);
    background-size: 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    height: 500px;
    width: 500px;

}

.mensagem:focus{
    outline: none;
}

.btn{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar{
    background-color: white;
    color: black;
    border: 1px solid blue;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    border-radius: 5px;
    font-weight: bolder;
}

.btn-encriptar{
    background-color: white;
    color: black;
    border: 1px solid blue;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    border-radius: 5px;
    font-weight: bolder;
}

.btn-copiar{
    background-color: white;
    color: black;
    border: 1px solid blue;
    cursor: pointer;
    height: 67px;
    margin-left: 200px;
    margin-top: 450px;
    position: absolute;
    width: 336px;
    border-radius: 5px;
    font-weight: bolder;
}

.informacao{
    font-size: 18px;
    margin-left: 8rem;
}


footer{
    text-align: center;
    color: rgb(112, 205, 50);
    font-weight: 900;
    font-size: 25px;
}